streamlit

typing

unidecode 

re

langchain
langchain-core
langchain-community
langchain-google-genai
langgraph

faiss-cpu

sentence-transformers
langchain-huggingface
transformers
torch

pandas
numpy

psycopg2-binary

google-play-scraper

python-dotenv