streamlit

typing

unidecode 

langchain
langchain-openai
openai
langchain-core
langchain-community
langchain-google-genai
langgraph

faiss-cpu

sentence-transformers
langchain-huggingface
transformers
torch 
torchvision

pandas
numpy

psycopg2-binary

google-play-scraper

python-dotenv